@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-azul-marino: #042443;
    --color-celeste: #3eadd8;
    --color-azul-claro: #0962a8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}

a {
    outline: none;
}